<br>
<div class="container-fluid d-flex justify-content-center">
  <div id="form">
    <h3>Edit Customer</h3>
    <form [formGroup]="customerForm" (ngSubmit)="updateCustomer(id)">
      <div>
        <label>Customer Name</label>
        <input type="text" formControlName="customerName">
      </div>
      <div>
        <label>Date Of Birth</label>
        <input type="text" formControlName="customerBirthday">
      </div>
      <div>
        <label>Gender</label>
        <select formControlName="customerGender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div>
        <label>Identity Card Number</label>
        <input type="number" formControlName="customerIdCard">
      </div>
      <div>
        <label>Phone Number</label>
        <input type="number" formControlName="customerPhone">
      </div>
      <div>
        <label>Email</label>
        <div class="input-group mb-3">
          <input type="text" formControlName="customerEmail">
        </div>
      </div>
      <div>
        <label>Address</label>
        <input type="text" formControlName="customerAddress">
      </div>
      <div>
        <label>Customer Type</label>
        <select formControlName="customerType">
          <option value="Diamond">Diamond</option>
          <option value="Platinium">Platinium</option>
          <option value="Gold">Gold</option>
          <option value="Silver">Silver</option>
          <option value="Member">Member</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Edit"/>
      </div>
    </form>
  </div>
</div>
