<br>
<div class="container-fluid d-flex justify-content-center">
  <div id="form">
    <h3>Add New Facility</h3>
    <form [formGroup]="facilityForm" (ngSubmit)="submit()">
      <div>
        <label>Type Facility</label>
        <select formControlName="facilityType" (change)="getType($event)">
          <option value="Villa">Villa</option>
          <option value="Room">Room</option>
          <option value="House">House</option>
        </select>
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.facilityType.hasError('required') &&
         facilityForm.controls.facilityType.touched">Facility Type is required</p>

      <div>
        <label>Facility Name</label>
        <input type="text" formControlName="facilityName">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.facilityName.hasError('required') &&
         facilityForm.controls.facilityName.touched">Facility Name is required</p>
      <p style="color:red" *ngIf="facilityForm.controls.facilityName.hasError('pattern') &&
         facilityForm.controls.facilityName.touched">Facility names cannot contain
        numbers. And the first letter of each word must be capitalized.</p>

      <div>
        <label>Area</label>
        <input type="number" formControlName="area">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.area.hasError('required') &&
         facilityForm.controls.area.touched">Area is required</p>

      <div>
        <label>Prices</label>
        <input type="number" formControlName="cost">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.cost.hasError('required') &&
         facilityForm.controls.cost.touched">Cost is required</p>

      <div>
        <label>Number Of People</label>
        <input type="number" formControlName="maxPeople">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.maxPeople.hasError('required') &&
         facilityForm.controls.maxPeople.touched">Cost is required</p>

      <div>
        <label>Rental Type</label>
        <select formControlName="rentType">
          <option value="Hours">Hours</option>
          <option value="Day">Day</option>
          <option value="Month">Month</option>
          <option value="Year">Year</option>
        </select>
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.rentType.hasError('required') &&
         facilityForm.controls.rentType.touched">Rent Type is required</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <label>Room Type</label>
        <input type="text" formControlName="standardRoom">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.standardRoom.hasError('required') &&
         facilityForm.controls.standardRoom.touched">Rent Type is required</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <label>Room Service Description</label>
        <input type="text" formControlName="descriptionOtherConvenience">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.descriptionOtherConvenience.hasError('required') &&
         facilityForm.controls.descriptionOtherConvenience.touched">Description Other Convenience is required</p>

      <div *ngIf="type === 'Villa'" type="hidden">
        <label>Pool Area</label>
        <input type="number" formControlName="poolArea">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.poolArea.hasError('required') &&
         facilityForm.controls.poolArea.touched">Pool Area is required</p>
      <p style="color:red" *ngIf="facilityForm.controls.poolArea.hasError('pattern') &&
         facilityForm.controls.poolArea.touched">Pool area must be a positive integer.</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <label>Number Of Floors</label>
        <input type="number" formControlName="numberOfFloors">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.numberOfFloors.hasError('required') &&
         facilityForm.controls.numberOfFloors.touched">Number Of Floors is required</p>
      <p style="color:red" *ngIf="facilityForm.controls.numberOfFloors.hasError('pattern') &&
         facilityForm.controls.numberOfFloors.touched">Number Of Floors must be a positive integer.</p>

      <div *ngIf="type === 'Room'" type="hidden">
        <label>Free Facility</label>
        <input type="text" formControlName="facilityFree">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls.facilityFree.hasError('required') &&
         facilityForm.controls.facilityFree.touched">Facility Free is required</p>

      <div>
        <label>Picture</label>
        <input type="url" formControlName="image">
      </div>
      <input type="submit" value="Save">
    </form>
  </div>

</div>
