<h2 class="d-flex justify-content-center">FACILITY</h2>
<a class="btn btn-outline-primary mb-2 ml-4" routerLink="/facilityAdd" role="button">Create new facility</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-3" *ngFor="let facility of facilities">
      <div class="col-12 d-flex justify-content-center">
        <div class="card mt-5" style="width: 18rem;">
          <img [src]="facility.image" height="200px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{facility.facilityName}}<br>
              Room size:{{facility.area}}<br>
              Cost: {{facility.cost |currency}}</p>
            <a class="text-white" [routerLink]="['/facilityEdit',facility.id]"
               style="margin-right: 20px">
              <button type="button" class="btn btn-primary">Edit</button>
            </a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="openDelete(facility.id,facility.facilityName)"
                    data-bs-target="#staticBackdrop">Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are You Sure ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete: <span style="color: red"> {{name}} </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Delete</button>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


