<div class="container-fluid d-flex justify-content-center">
  <div id="form">
    <h3>Edit Saving</h3>
    <form [formGroup]="savingForm" (ngSubmit)="updateSaving(id)" *ngIf="savingForm">
      <div>
        <label>Mã số sổ</label>
        <input type="number" formControlName="id" readonly>
      </div>

      <div>
        <label>Mã khách hàng</label>
        <input type="number" formControlName="customer" readonly>
      </div>

      <div>
        <label>Tên khách hàng</label>
        <select formControlName="customer">
          <option *ngFor="let ct of customer" [value]="ct.id">{{ct.name}}</option>
        </select>
      </div>
      <p style="color:red" *ngIf="savingForm.controls.customer.hasError('required') &&
         savingForm.controls.customer.dirty">Tên khách hàng không để trống</p>

      <div>
        <label>Ngày mở sổ</label>
        <input type="text" formControlName="openDate">
      </div>
      <p style="color:red" *ngIf="savingForm.controls.openDate.hasError('required') &&
         savingForm.controls.openDate.dirty">Ngày mở sổ không để trống</p>

      <div>
        <label>Thời gian bắt đầu gửi</label>
        <input type="text" formControlName="sentDate">
      </div>
      <p style="color:red" *ngIf="savingForm.controls.sentDate.hasError('required') &&
         savingForm.controls.sentDate.dirty">Thời gian bắt đầu gửi không để trống</p>

      <div>
        <label>Kì hạn</label>
        <select formControlName="period">
          <option *ngFor="let p of period" [value]="p.name">{{p.name}}</option>
        </select>
      </div>
      <p style="color:red" *ngIf="savingForm.controls.period.hasError('required') &&
         savingForm.controls.period.dirty">Kì hạn không để trống</p>

      <div>
        <label>Số tiền gửi</label>
        <input type="text" formControlName="money">
      </div>

      <p style="color:red" *ngIf="savingForm.controls.money.hasError('required') &&
         savingForm.controls.money.dirty">Tiền không để trống</p>
      <p style="color:red" *ngIf="savingForm.controls.money.hasError('min') &&
         savingForm.controls.money.dirty">Tiền phải lớn hơn 10.000.000</p>

      <div>
        <label>Lãi suất</label>
        <input type="text" formControlName="interestRate">
      </div>
      <p style="color:red" *ngIf="savingForm.controls.interestRate.hasError('required') &&
         savingForm.controls.interestRate.dirty">Lãi suất không để trống</p>

      <div>
        <label>Ưu đãi</label>
        <input type="text" formControlName="endow">
      </div>
      <p style="color:red" *ngIf="savingForm.controls.endow.hasError('required') &&
         savingForm.controls.endow.dirty">Ưu đãi không để trống</p>

      <div>
        <input class="btn btn-success mb-2 ml-4 m-lg-3" type="submit" value="Edit" [disabled]="!savingForm.valid">
        <a class="btn btn-secondary mb-2 ml-4 m-lg-3" routerLink="/saving" role="button">Exit</a>
      </div>
    </form>
  </div>
</div>

