<br>
<a class="text-white" href="/create" style="margin-right: 20px">
  <button class="btn btn-primary" type="submit">Add New Customers</button>
</a>
<table class="table">
  <thead>
  <tr>
    <th>Numerical order</th>
    <th>Customer Name</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>Identity Card Number</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Trương Ngọc Huyền</td>
    <td>09/10/1997</td>
    <td>Nữ</td>
    <td>123456789</td>
    <td>987654321</td>
    <td>huyen@gmail.com</td>
    <td>Quảng Nam</td>
    <td>Diamond</td>
    <td>
      <a class="text-white" href="edit.html" style="margin-right: 20px">
        <button class="btn btn-primary" type="submit">Edit</button>
      </a>
    </td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Delete
      </button>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Trương Ngọc Hân</td>
    <td>09/10/1993</td>
    <td>Nữ</td>
    <td>345678901</td>
    <td>124095772</td>
    <td>han@gmail.com</td>
    <td>Quảng Nam</td>
    <td>Diamond</td>
    <td>
      <a class="text-white" href="edit.html" style="margin-right: 20px">
        <button class="btn btn-primary" type="submit">Edit</button>
      </a>
    </td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Delete
      </button>
    </td>
  </tr>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
  </tbody>
</table>
